{% extends "feed/base.html" %}

{% block content %}
<div class="static-page row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
            <div class="about-heading">
                <h4><b>We believe to make the world a better place to live by helping each other</b></h4>
            </div>


        <hr>

        <br>
        <p>
            BackMyItem is a web application where your lost item will be publish by an unknown user. You can connect to that user from this application.
        </p>
         <br>
        <p>
            In this fast world we forget our item like documents, keys, cards, wallets, purse , resport card , passport etc at public places like train, malls, shops, Government and private offices etc but once we lost it then it becomes very hard for us to retrieve the item.
        </p>
         <br>
        <p>
            If someone find your's item and if he wants to return the item to the owner then it becomes impossible by him to communicate with the owner of the item or to identify the real owner of the unclaimed stuff because an item like keys never talks to us.
        </p> <br>
        <p>
            <b>
Why should BackMyItem exist?</b>
        </p>
         <br>
        <p>
            In this platform, if you find any unclaimed stuff like documents, keys, wallets, purse, gadgets or any other item then you can report that item in our platform. First, the report will be verify by the BackMyItem team to avoid the misleading data from the naughty user. Once verify then it will be publish on our home page.
        </p>
         <br>
        <p><b>How to use BackMyItem?</b></p>
         <br>
        <p>
First, you need to create your account on our platform. After signing, if you find any lost stuff of someone then you can report the item from report page. Once, you have reported then it will be added in our database. Our team shortly review the report and publish it on the homepage.</p>
         <br>
        <p>The Home page section of our platform is open to all. If the real owner of the item find his lost item on our home page then he can request you to return the item. He will fill the form for his item and provide some additional proof. Now, it’s  your chance. Once the owner requested for the item you will get the notification. Through notification you can view the proof provided by the owner. You have to cross check the proof provided in notification with the item. If this is verifiable then you can call him on the number provided by the owner.
</p>
         <br>
        <p>It is very nobel cause to return the someone item and become his happiness. Who knows the useless item you find on road can solve the 100 problem of the owner.</p>
         <br>
        <hr>
         <div class="thumbnail-center">
            <font size="4">
                <p><a href="{% url 'feed:signup'%}">Sign Up to become someone's Happiness</a></p>
            </font>
        </div>
    </div>

    <div class="col-md-3">
    </div>



</div>

    </div>
{% endblock %}