{% extends "feed/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
         <div class="about-heading">
                <p>BackMyItem</p><br>
                <small>help us to make the world better place</small>
            </div>    <hr>
         <p>This web application is running by <b>Saiful Hasan</b>. I am working alone on this web application from last two month as backend developer as well front-end developer ,designer ans it's architecture on Amazon Web server</p>
         <p>My moto of this web application is to solved people problem to make the world better place to live.</p>
         <p>If you also want to contribute on this project to make it more helpful then you can contact send me email on saifulcseng@gmail.com</p>
         <p>Currently I am using Django , Bootstrap , Amazon Postgre sql and EC2 in this application</p>
     </div>
    <div class="col-md-3"></div>


</div>

    </div>
{% endblock %}