
<footer>
<div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul><h4><b>Get to Know Us</b></h4>
                    <li><h5>About Us</h5></li>
                    <li><h5>Contact Us</h5></li>
                    <li><h5>Our Team</h5></li>
                    <li><h5>Career</h5></li>
                </ul>
            </div>
            <div class="col-md-4">
                    <ul><h4><b>Follow US</b></h4>
                    <li><h5>Facebook</h5></li>
                    <li><h5>Twitter</h5></li>
                    <li><h5>Instagram</h5></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul><h4><b>Useful Links</b></h4>
                    <li><h5>Privacy Policy</h5></li>
                    <li><h5>Help</h5></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <p style="text-align:center">©2018, My Ammaji Pvt Ltd</p>
            </div>
            <div class="col-md-3">

            </div>
        </div>

</div>
</footer>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>