
<footer>
<div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul><h4><b>Get to Know Us</b></h4>
                    <li><h5><a href="{% url 'feed:about'%}">About Us</a></h5></li>
                    <li><h5><a href="{% url 'feed:contact'%}">Contact Us</a></h5></li>
                    <li><h5><a href="{% url 'feed:team'%}">Our Team</a></h5></li>
                </ul>
            </div>
            <div class="col-md-4">
                    <ul><h4><b>Follow US</b></h4>
                    <li><h5><a href="https://www.facebook.com/Back-My-Item-267792973827571/?modal=admin_todo_tour"> Facebook</a></h5></li>
                        <li><h5><a href="https://twitter.com/backmyitem">Twitter</a></h5></li>
                    <li><h5>Instagram</h5></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul><h4><b>Useful Links</b></h4>
                    <li><h5><a href="{% url 'feed:login'%}"> Login</a></h5></li>
                    <li><h5><a href="{% url 'feed:signup'%}"> SignUp</a></h5></li>
                    <li><h5><a href="{% url 'feed:report'%}">Report</a></h5></li>
                    <li><h5><a href="{% url 'feed:logout' %}">Logout</a></h5></li>


                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <p style="text-align:center">©2018, My Ammaji Pvt Ltd</p>
            </div>
            <div class="col-md-3">

            </div>
        </div>

</div>
</footer>
<br>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    var category = [
      "Marksheet",
      "Passport",
      "Key",
      "PAN Card",
      "ATM Card",
      "Documents",
      "Wallet",
      "Purse",
      "Bag",
      "Mobile",
      "Laptop",
      "Pendrive",
      "Electronic Gadgets",
      "others",
    ];
    $( "#id_item_type" ).autocomplete({
      source: category
    });
  } );
  </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1&appId=297036774184262&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
    function ActivatePlacesSearch(){
        var input=document.getElementById('id_location');
        var autocomplete=new google.maps.places.Autocomplete(input);
    }


</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=ActivatePlacesSearch">

</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>

</style>
</body>
</html>