{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Back My Item</title>

    <meta charset="utf-8">
    <link rel="stylesheet" href='{% static "css/base.css" %}'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'feed:index' %}">BackMyItem</a>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'feed:index' %}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></li>
        <li><a href="{% url 'feed:report' %}"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Report</a></li>
      </ul>
          {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-bullhorn">&nbsp;Notification (<b>{{ count }}</b>)</span></a>

            <ul class="dropdown-menu notify-drop">
            <!-- end notify title -->
            <!-- notify content -->
            <div class="drop-content">
            {% if notification %}
                <table class="notify-table">
                {% for n in notification %}
                    <tr><td><p><a href="{% url 'feed:show_notification' n.id %}"><b>{{n.Name}}</b> requested for the item</a></p></td></tr>
                {% endfor %}
                </table>
                <hr>
                <p><a href="{% url 'feed:readnotification' %}">View All Notification</a></p>
            {% else %}
             <div class="thumbnail-center">
                 <font size="4">
                    <p><a href="{% url 'feed:readnotification' %}">View old Notification</a></p>
                 </font>
             </div>
            {% endif %}
            </div>
          </ul>
        </li>
      </ul>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if not user.is_authenticated %}
            <li><a href="{% url 'feed:signup' %}"><span class="glyphicon glyphicon-user"></span>&nbsp;Sign Up</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Login</a></li>
      {% else %}
          <li><a href="{% url 'feed:profile' user.username %}"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ user.username }}</a></li>
          <li><a href="{% url 'feed:logout' %}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;logout</a></li>
      </ul>








          </li>

        {% endif %}


      </ul>


    </div>

  </div>
        </div>
</nav>
