{% extends 'feed/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <ul>
            <li><a href="">Marked Notification</a>
            <li><a href="">UnMarked Notification</a>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Welcome &nbsp;{{ full_name }} &nbsp;</h2>
            {% if notification %}
                <h3>Notification</h3>
                {% for n in notification %}
                    <p><a href="{% url 'feed:show_notification' n.id %}">{{n.Name}} requested for the item</a></p>
                    <hr>
                {% endfor %}
            {% else %}
             <div class="thumbnail-center">
                 <font size="4">
                     <p>You do not have any notification</p>
                 </font>
             </div>
        {% endif %}
    </div>
    <div class="col-md-3">
    </div>

</div>

{% endblock %}