
{% extends 'feed/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <table class="table table-responsive mytable">
                <tr><td class="noborders">Person Name</td><td class="noborders">{{ n.Name }}</td></tr>
                <tr><td class="noborders">Mobile Number</td><td class="noborders">{{ n.Mobile_No }}</td></tr>
                <tr><td class="noborders">Proof</td><td class="noborders">{{ n.Proof }}</td></tr>
            </table>

        </div>
        <h2></h2>
        <h2></h2>
        <h2></h2>

    </div>
    <div class="col-md-3">

    </div>
</div>


<p><a href="">Marked Notification</a></p>
{% endblock %}