{% extends "feed/base.html" %}
{% block content %}
<div class="container">
<div class="row">
      <div class="col-md-6 col-md-push-3">
      {% for obj in object_list %}
      <div class="thumbnail"  style="cursor: pointer;">
          <div class="row">
              <div class="col-md-9">
                  <table class="mytable table-responsive">
                        <tr><td class="my-td-item">Title</td><td>{{ obj.title }}</td></tr>
                        <tr><td class="my-td-item">Item Type</td><td>{{ obj.item_type }}</td></tr>
                        <tr><td class="my-td-item">Location</td><td>{{ obj.location }}</td></tr>
                  </table>
              </div>
              <div class="col-md-3">
                  <img class="img-responsive center" src="{{ obj.image.url }}" alt="backmyitem" width="80" height="100" style="margin: 0 auto;">
                  <br><b><p style="font-size: 10px;text-align:center;">Posted Date</b><br>{{ obj.date }}</p>
              </div>
          </div>
          <table class="table table-responsive">
              <tr><td><a href="{% url 'feed:detail' obj.id %}"><button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-check"></span> Read More
        </button></a></td>
              <td><a href="{% url 'feed:report-update' obj.id %}"><button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </button></a></td>
              <td><a href="{% url 'feed:report-delete' obj.id %}"><button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-trash"></span> Trash
              </button></a></td></tr>

          </table>

      </div>
      {% endfor %}
  </div>

  <div class="col-md-3 col-md-pull-6">
      <div class="thumbnail-center">
            <font size="4" style="color:black;">
            <p>Hello &nbsp;{{ user.first_name }}</p>
            </font>
        </div>

      <hr>
      <ul>
          <li><a href="{% url 'feed:profile' user.username %}">Your content</a></li>


      </ul>
  </div>


  <div class="col-md-3">
      <form class="navbar-form navbar-right" action="">
          <div class="form-group">
              <input type="text" name='q' class="form-control" placeholder="Search lost item" value="{{ request.GET.q }}"/>
          </div>
          <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </form>
  </div>
  </div>
</div>
 {% endblock %}