{% extends "feed/base.html" %}
{% block content %}
<div class="container">
<div class="row">
      <div class="col-md-6 col-md-push-3">
          <div class="thumbnail-center-profile">
            <font size="2" style="color:black;">
            <p>Hello &nbsp;{{ user.first_name }}&nbsp Thanks to make the world a better place</p><br>
                <p>Your's content</p>
            </font>
        </div>

      {% for obj in object_list %}
      <div class="thumbnail"  style="cursor: pointer;">
          <div class="row">
              <div class="col-md-9">
                  <table class="mytable table-responsive">

                        <tr><td class="my-td-item">Title</td><td>{{ obj.title }}</td></tr>
                        <tr><td class="my-td-item">Item Type</td><td>{{ obj.item_type }}</td></tr>
                        <tr><td class="my-td-item">Location</td><td>{{ obj.location }}</td></tr>
                        <tr><td colspan="2" class="post-review"><p><b>{% if obj.publish is False%}Your Post is in review{% endif %}</b></p></td></tr>
                  </table>
              </div>
              <div class="col-md-3">
                  <img class="img-responsive center" src="{{ obj.image.url }}" alt="backmyitem" width="80" height="100" style="margin: 0 auto;">
                  <br><b><p style="font-size: 10px;text-align:center;">Posted Date</b><br>{{ obj.date }}</p>
              </div>
          </div>
          <table class="mytable table-responsive">
              <tr><td class="my-td-item"><a href="{% url 'feed:detail' obj.id %}">
          <span class="glyphicon glyphicon-check"></span> Read_More
        </a></td>
              <td class="my-td-item"><a href="{% url 'feed:report-update' obj.id %}">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </a></td>
              <td class="my-td-item"><a href="{% url 'feed:report-delete' obj.id %}">
          <span class="glyphicon glyphicon-trash"></span> Trash
              </a></td></tr>

          </table>

      </div>
      {% endfor %}
          <div class="row">
            <table class="table mytable table-reponsive mob-header-table">
    <tr>
        <td class="mobile-header-td"><a href="{% url 'feed:index' %}"><span class="glyphicon glyphicon-home"></span>&nbsp Home</a></td>
        <td class="mobile-header-td"><a href="{% url 'feed:report' %}"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Report</a></td>

        <td class="mobile-header-td"><a href="{% url 'feed:readnotification' %}"><span class="glyphicon glyphicon-bullhorn">&nbsp;</span>Notifs<small>(<b>{{ count }}</b>)</small></a></td>
        <td class="mobile-header-td"><a href="{% url 'feed:logout' %}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;logout</a></td>
    </tr>

</table>

          </div>
  </div>

  <div class="col-md-3 col-md-pull-6">

  </div>


  <div class="col-md-3">

  </div>
  </div>
</div>
 {% endblock %}