{% extends 'feed/base.html'%}
{% block title %} {{ title }} {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>You are logged in</p>
{% else %}
<div class="container">
<div class="row">
  <div class="col-md-4">
  </div>
    <div class="col-md-4">
        <div class="thumbnail" style="padding-right:5%;">
        <div class="thumbnail-center">
            <font size="6">
            <p>Sign Up to become someone's angel</p>
            </font>
        </div>
        <form class="form-herizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
              {% if form.errors %}
                <p>{{ form.errors }}</p>
              {% endif %}
            {% include 'feed/form_template.html'%}
            <br>
                 <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                            <button type="submit" class="login-btn btn btn-success">Create Account</button>
                    </div>


                </div>
            <br>

        </form>

            {% include "feed/social-login.html" %}
        </div>

    </div>
  <div class="col-md-4">
  </div>
  </div>
</div>
  <br>
            <br>
{% endif %}
 {% endblock %}
