{% extends 'feed/base.html'%}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-4">
  </div>
    <div class="col-md-4">
        <div class="thumbnail" style="padding-right:5%;">
        <div class="thumbnail-center">
            <font size="6">
            <p>Please fill this form</p>
            </font>
        </div>
        <form class="form-herizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
              {% if form.errors %}
                <p>{{ form.errors }}</p>
              {% endif %}
            {% include 'feed/form_template.html'%}
            <br>
                 <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                            <button type="submit" class="login-btn btn btn-success">Request to return</button>
                    </div>


                </div>
            <br>

        </form>
        </div>
    </div>
  <div class="col-md-4">
  </div>
  </div>
</div>
  <br>
            <br>
 {% endblock %}