{% extends 'feed/base.html'%}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-3">
  </div>
    <div class="col-md-6">
        <div class="thumbnail" style="padding-right:5%;">
        <div class="thumbnail-center">
            <font size="6">
            <p>Please fill this form</p>
            </font>
        </div>
        <form class="form-herizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
              {% if form.errors %}
                <p>{{ form.errors }}</p>
              {% endif %}
            {% include 'feed/form_template.html'%}
            <br>
                 <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        {% if user.is_authenticated %}
                            <button type="submit" class="login-btn btn btn-success" data-toggle="modal" data-target="#myModal">Request to return</button>
                        {% else %}
                            <button type="submit" class="login-btn btn btn-success" disabled>Request to return</button>
                            <p style="color:red;">*Please <a href="{% url 'login' %}">login</a>to request yout item</p>
                        {% endif %}
                    </div>


                </div>

            <br>

        </form>
        </div>

    </div>
  <div class="col-md-3">
  </div>
  </div>
</div>
  <br>
            <br>
 {% endblock %}